body {
  background: rgb(52, 36, 126);
  color: white;
  font-family: sans-serif;
}

.center {
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
}

.control {
  background:rgb(27, 19, 63);
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  h3 {
    width: 100%;
    text-align: center;
  }
  input {
    width: 25rem;
  }
  button {
    font-size: 1.4rem;
    padding: .5rem;
    margin: .5rem;
    transition: all 0.3s ease;
    width: 10rem;
    border-radius: 3rem;
    cursor: pointer;
    &:hover {
      background: rgb(212, 159, 203);
    }
  }
  .active {
    background: rgb(87, 28, 77);
    color: white;
  }
}

